section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.text-center1 {

    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

.input:hover {
    border: 1px solid #004CFF;
}

.input {
    margin-bottom: 12px;
    padding: 9px 10px;
    background: rgb(218, 217, 217);
    border: none;
    border-radius: 23px;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.text-center button {
    background-color: #004CFF;
    color: white;
    border: none;
    padding: 12px 65px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
}