<section>
  <div class="">
    <div class="text-center">
      <div class="img">
        <img src="images/image1.svg" alt="" />
      </div>
      <h2>Shoppe</h2>
      <p>
        Beautiful eCommerce UI Kit <br />
        for your online store
      </p>
      <div>
        <button class="btn" (click) = "register()">Let's get started</button>
      </div>
      <div class="account-link">
        <span>I already have an account</span>
        <button class="arrow-btn" (click) = "login()">→</button>
      </div>
    </div>
  </div>
</section>
