section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.text-center {
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #666;
}

.btn {
    background-color: #004CFF;
    color: white;
    border: none;
    padding: 12px 65px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
}

.arrow-icon {
    background-color: #004CFF;
    border-radius: 50%;
    padding: 6px;
    width: 24px;
    height: 24px;
}

.account-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
    font-size: 14px;
    color: #6b6b6b;
}

.arrow-btn {
    width: 29px;
        height: 27px;
    border-radius: 50%;
    border: none;
    background-color: #004cff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}